* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
}

/* inspired by https://williamjansson.com, with adjustment */

:root { --lh: 1.5em }

::selection { background: #ddd; color: #000 }

html {
    margin: 0 0 0 calc(100vw - 100%);
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    font: 1em/var(--lh) monospace;
    background: #eee;
    padding: 16vh 2em 0;
    max-width: 80ch;
    margin: 0 auto;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
}

a {
    display: inline-block;
    padding: .16666em;
    margin-left: -.16666em;
    text-decoration: none;
    color: blue;
}

a i { border-bottom: 1px dotted }
a:active i { border: none }

h2, h3, h4, h5, h6 {
    margin-bottom: var(--lh);
    margin-left: -1ch;
    font-weight: bold;
}

h1 { margin-bottom: var(--lh) }

h1 a {
    display: inline;
    margin: 0;
    padding: 0;
}

h1 a,
span { color: #888 }

nav { margin-top: -.16666em }

p { margin-bottom: var(--lh) }

footer { padding: calc(var(--lh)*2) 0 8vh }
footer p { margin: 0 }

.codehilite {
    background: #ddd;
    padding: 1em;
    margin: var(--lh) 0;
    overflow-x: auto;
    border-radius: 2px;
}

.codehilite pre {
    margin: 0;
    white-space: pre;
    word-wrap: normal;
}

pre {
    background: #ddd;
    padding: 1em;
    margin: var(--lh) 0;
    overflow-x: auto;
    border-radius: 2px;
}

code {
    background: #ddd;
    padding: .16666em .33333em;
    border-radius: 2px;
}

pre code {
    background: none;
    padding: 0;
}

@media (max-device-width: 600px) {
    body { padding-top: 2em; justify-content: start }
    footer { padding-bottom: 2em }
    a i { border-color: #888 }
}

header, footer {
    font-size: 1.2em;
    margin-bottom: 1em;
}

header p, footer p {
    margin: 0;
}