{% extends "base.html.j2" %}

{% block content %}
  {% if posts %}
    {% for post in posts %}
      <p>{{ loop.index0 }}. <a href="{{ post.filename }}">{{ post.title }}</a></p>
    {% endfor %}
  {% else %}
    <p>No posts yet.</p>
  {% endif %}
{% endblock %}

{% block footer %}
  {% if category != "writing" %}
    <p><a href="writing.html">&gt; writing</a></p>
  {% else %}
    <p><a href="/">&gt; technical</a></p>
  {% endif %}
{% endblock %}